.tags {
  list-style: none;
  padding-left: 0;
  display: block;

  li {
    display: block;
    padding: 4px 18px;
    border-radius: 20px;
    color: #555555;
    background-color: #f2f2f2;
    margin-right: 8px;
  }
}
