.tweet-button {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	position: relative;
	box-sizing: border-box;
	background-color: #1d9bf0;
	color: #fff;
	font-weight: 500;
	height: 28px;
	border-radius: 9999px;
	padding: 1px 12px 1px 12px;
	cursor: pointer;
	text-decoration: none;

	&:active, &:focus, &:hover {
		background-color: #0c7abf;
	}

	svg {
		top: -2px;
		position: relative;
		display: inline-block;
		height: 16px;
		width: 16px;
	}

	span {
		display: inline-block;
    vertical-align: top;
    zoom: 1;
		font-family: 'Helvetica Neue',Arial,sans-serif;
		font-size: 13px;
		line-height: 26px;
	}
}