.navbar {
  width: 100%;

  .navbar__content {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 60px;
    justify-content: space-between;
  }

  .navbar__brand {
    border-radius: 40px;
    margin-left: 4px;
  }

  .navbar__menu {
    list-style: none;
    display: flex;
    padding-left: 0;

    li {
      a {
        display: flex;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;

        svg {
          margin-right: 4px;
        }
      }
    }
  }
}
