.navbar {
  width: 100%;
  max-width: 100%;

  .content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: $container;
    justify-content: space-between;
    vertical-align: middle;
  }

  .brand {
    display: flex;
    align-items: center;
    vertical-align: middle;
    
    img {
      border-radius: 40px;
      margin-left: 4px;
    }
    
    a {
      text-decoration: none;
      font-weight: bold;
      display: flex;
      align-items: center;
      color: var(--content);
      font-family: $typo-heading;
    }

    .title {
      font-size: 20px;
      margin-left: 12px;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    height: 100%;

    li {
      a {
        display: flex;
        height: 60px;
        padding: 0px 16px;
        text-decoration: none;
        align-items: center;
        color: var(--content);

				&.p-0 {
					padding: 0;
				}

        svg {
          margin-right: 4px;
        }
      }
    }
  }
}
