.share {
	display: flex;
	align-items: center;
	margin: auto;
	max-width: var(--content-inner-width);
	padding-left: 10px;
	padding-right: 10px;

	> * {
		margin-right: 4px;
	}
}

.fb-share-button {
	display: inline-block !important;
	width: 88px;
	height: 28px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 8px;
}

.twitter-share-button:not(.twitter-share-button-rendered) {
	display: inline-block !important;
	width: 88px;
	height: 28px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 8px;
}