.share {
	display: flex;
	align-items: center;
	margin: auto;
	margin-bottom: 16px;
	max-width: var(--content-inner-width);
	padding-left: 10px;
	padding-right: 10px;

	> * {
		margin-right: 6px;
	}
}

