.toc {
  background-color: var(--fg);
  padding: 8px 16px;
  border-radius: var(--radius);
	border: var(--border-size) solid var(--border-color);

  details {
    summary {
      cursor: zoom-in;
    }

    &[open] {
      summary {
        cursor: zoom-out;
      }
    }

    a {
      color: var(--content);
      padding: 4px 0;
      display: block;
			text-decoration: none;

			&:hover,
			&focus {
				text-decoration: underline;
			}
    }

    ul {
      margin: 0;
    }
  }
}