// TODO: Remove this file
$primary: var(--primary);

$white: #ffffff;
$red: #bf0000;

$code-bg: #272822;
$code-text: #f8f8f2;

$themes: (
  light: (
    bg: "#ffffff",
    content: "#000000",
  ),
  dark: (
    bg: "#000000",
    content: "#ffffff",
  ),
);
