{{ define "main" }}
  <article class="post-single">
    <header>
      {{ partial "cover" . }}
      <div class="heading">
        <h1>{{ .Title }}</h1>
        {{- if .Params.tags }}
          <ul class="tags">
            {{- range ($.GetTerms "tags") }}
              <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
          </ul>
        {{ end }}
        <p>
					<time datetime="{{ dateFormat "2006-01-02" .Date }}">
						{{ partial "svgs/calendar.svg" }}
            {{ dateFormat "January 02, 2006" .Date }}
          </time>
          {{ if gt .ReadingTime 0 }}
						<span class="read-time">
							{{ partial "svgs/clock.svg" }} {{ .ReadingTime }} min read
						</span>
          {{ end }}
        </p>
      </div>
    </header>
    <div class="content">
      {{ partial "table_of_content" . }}
      {{ .Content }}
    </div>
  </article>
	<section class="support">
		{{ partial "social/kofi.html" . }}
	</section>

	{{ partial "share.html" . }}

	{{- if .Site.Params.Social.Facebook -}}
		<div class='post-fb-page'>
			<div class='fb-page' data-adapt-container-width='true' data-hide-cover='false' data-href='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}' data-show-facepile='true' data-small-header='false'>
				<blockquote cite='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}' class='fb-xfbml-parse-ignore'>
					<a href='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}'>{{ .Site.Params.Social.Facebook }}</a>
				</blockquote>
			</div>
		</div>
	{{- end -}}

	<section class="comment">
			<div class="fb-comments" 
				data-href="{{ .Permalink }}" 
				data-width="100%" 
				data-colorscheme="dark" 
				>
			</div>
	</section>

  <section>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
        <div class="post-list">
          {{ range . }}
          {{ partial "list_post_item" . }}
          {{ end }}
        </div>
    {{ end }}
  </section>
{{ end }}
