@import "variables";

article {
  margin: auto;
  width: 100%;
  max-width: $article_width;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $typo-heading;
  }

  header {
    @include for-desktop-up {
      img {
        border-radius: 12px;
      }
    }
  }

  img {
    margin: auto;
    width: 100%;
  }

  .article__heading {
    margin: auto;
    width: 100%;
    padding-left: $article_side_padding;
    padding-right: $article_side_padding;
    box-sizing: border-box;
    max-width: $article_body_width;
    margin-bottom: 28px;
  }

  .article__body {
    margin: auto;
    width: 100%;
    padding-left: $article_side_padding;
    padding-right: $article_side_padding;
    box-sizing: border-box;
    max-width: $article_body_width;
    word-wrap: break-word;
  }
}
