*,
body {
  font-family: "Sarabun", "Roboto", "sans-serif";
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--content);
}

main {
  flex: 1;
}

a {
  color: $primary;
}

h1 {
  @include for-desktop-up {
    font-size: 2.4rem;
  }
}
h2 {
  @include for-desktop-up {
    font-size: 2rem;
  }
  margin-top: 52px;
  margin-bottom: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

// FIXME: Don't know why it not works
// :not(div.highlight) {
//   code {
//     padding: 4px 8px;
//     border-radius: 4px;
//     color: var(--code-text);
//     background-color: var(--code-bg);
//   }
// }

.text-primary {
  color: var(--primary);
}