*,
body {
  font-family: "Sarabun", "Roboto", "sans-serif";
  line-height: 1.8rem;
  outline-color: var(--primary);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--content);
}

main {
  flex: 1;
}

a {
  color: var(--primary);
}

// h1 {
//   @include for-desktop-up {
//     font-size: 2.4rem;
//   }
// }
// h2 {
//   @include for-desktop-up {
//     font-size: 2rem;
//   }
//   margin-top: 52px;
//   margin-bottom: 26px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  margin-top: 2em;
}

// FIXME: Don't know why it not works
// :not(div.highlight) {
//   code {
//     padding: 4px 8px;
//     border-radius: 4px;
//     color: var(--code-text);
//     background-color: var(--code-bg);
//   }
// }

table {
  max-width: 100%;
  
  th, td {
    padding: 16px;
    border-bottom: 1px solid var(--fg);
  }
  
  th {
    border-bottom: 2px solid var(--fg);
  }
}

.text-primary {
  color: var(--primary);
}

.container {
  margin: auto;
  width: 100%;
  max-width: $container;
}