*,
body {
	font-family: "Sarabun", "Roboto", "sans-serif";
	line-height: 1.8;
	outline-color: var(--primary);
	box-sizing: border-box;
	font-size: var(--font-size);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--bg);
	color: var(--content);
}

main {
	flex: 1;
}

:not(a) {
	> b,
	> strong {
		color: var(--content-strong);
	}
}

a {
	color: var(--primary);
	text-decoration-color: var(--link-underline-color);
	text-decoration-thickness: 0.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading);
	font-family: "Kanit", "Sarabun", "Roboto", "san-serif";
}


h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

h1, h2 {
	margin-bottom: 0px;
}

h3, h4, h5, h6 {
	margin-bottom: 0px;
}

p, ul {
	margin-top: 0;
}

table {
	max-width: 100%;

	th,
	td {
		padding: 16px;
		border-bottom: 1px solid var(--fg);
	}

	th {
		border-bottom: 2px solid var(--fg);
	}
}

.text-primary {
	color: var(--primary);
}

.font-heading {
	font-family: var(--heading-font-family);
}

.container {
	margin: auto;
	width: 100%;
	max-width: var(--container-width);
}

.flex {
	display: flex;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}