:root {
  --bg: #fff;
  --fg: rgba(0, 0, 0, 0.04);
  --highlight: rgba(0, 0, 0, 0.80);
  --content: rgba(0, 0, 0, 0.88);
  --primary: $primary;
}

.dark {
  --bg: #222;
  --fg: rgba(255, 255, 255, 0.04);
  --highlight: rgba(255, 255, 255, 0.80);
  --content: rgba(255, 255, 255, 0.64);
}