:root {
	--bg: rgba(0, 0, 0, 0.05);
	--fg: white;
	--primary: #2e8540; // #35a65e
	--font-size: 18px;
	--link-underline-color: rgba(53, 166, 94, 0.4);
	--border-size: 1px;
	--border-color: #eee;
	--border-default: var(--border-size) solid var(--border-color);
	--radius: 12px;
	--shadow: -6px 8px 10px rgba(56, 30, 11, 0.1),
		0px 2px 2px rgba(81, 41, 10, 0.2);
	--image-filter: none;
	--transform-time: 0.2s;

	--heading: black;
	--heading-font-family: "Kanit", "Sarabun", "Roboto", "san-serif";

	--container-width: 900px;

	--content: black;
	--content-strong: black;
	--content-width: 960px;
	--content-inner-width: 736px;
	--content-side-padding: 16px;

	--image-zoom-overlay-bg: rgba(0, 0, 0, 0.8);

	--code-font-family: "Fira Code", "Sarabun", "Roboto", "sans-serif";
	--code-font-size: 16px;
	--code-text: #f8f8f2;
	--code-bg: #272822;

	--notice-color: var(--heading);
	--notice-heading-color: #fff;
	--notice-heading-font-size: 14px;

	--notice-note-accent: #0047bf;
	--notice-note-bg: rgba(0, 0, 255, 0.05);
	--notice-update-accent: #bf0000;
	--notice-update-bg: rgba(255, 0, 0, 0.05);
}

.dark {
	--bg: black;
	--fg: #3a3a3a; // rgba(255, 255, 255, 0.12)
	--primary: #35a65e; // #35a65e
	--heading: white;

	--content: #bfbfbf;
	--content-strong: white;

	--code-text: #272822;
	--code-bg: #f8f8f8;
	--border-color: #444;

	--notice-color: var(--heading);
	--notice-heading-color: var(--heading);
}
