code {
  padding: 4px 8px;
	border: var(--border-size) solid var(--border-color);
  border-radius: var(--radius);
  background-color: var(--fg);
}

.highlight {
	border: var(--border-size) solid var(--border-color);

	code {
		--border-color: transparent;
	}
}