.post-list {
  max-width: var(--container-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .post-card {
    padding: 8px;
    width: 100%;
    max-width: 32%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--content);
		border: 1px solid transparent;
		position: relative;

    @media (max-width: 475px) {
      max-width: 100%;
    }

    &:hover,
    &:focus {
      &::before {
				transform: scale(1);
			}
    }

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: var(--radius);
			background-color: var(--fg);
			border: var(--border-size) solid var(--border-color);
			transform: scale(0);
			transition: transform var(--transform-time);
		}

    figure {
      margin: 0;
    }
    
		svg,
    img {
      width: 100%;
      height: auto;
      border-radius: var(--radius);
    }

    .title {
      margin: 0px;
      font-size: 18px;
      flex: 1;
      color: var(--heading);
			padding: 0px 8px;
    }

    p {
      margin: 0;
			padding: 0px 8px;
    }
  }
}