.post-list {
  max-width: $container;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .post-card {
    padding: 8px;
    width: 100%;
    max-width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--content);

    @media (max-width: 475px) {
      max-width: 100%;
    }

    &:hover,
    &:focus {
      background-color: var(--fg);
    }

    figure {
      margin: 0;
    }
    
    img {
      width: 100%;
      height: auto;
      border-radius: var(--radius);
    }

    .title {
      margin: 12px 0;
      font-size: 18px;
      flex: 1;
      color: var(--heading);
    }

    p {
      margin: 0;
    }
  }
}