<!-- theme -->
<script>
  document.getElementById("theme-toggle").addEventListener("click", () => {
    if (document.body.className.includes("dark")) {
      document.body.classList.remove("dark");
      localStorage.setItem("theme", "light");
    } else {
      document.body.classList.add("dark");
      localStorage.setItem("theme", "dark");
    }
  });
</script>

{{- if .IsPage -}}
<!-- anchor-->
	<script src="{{ "js/anchor.min.js" | absURL }}"></script>
  <script>
    anchors.options = {
      placement: "left",
    };
    anchors.add('.post-single .content h1, .post-single .content h2, .post-single .content h3, .post-single .content h4, .post-single .content h5, .post-single .content h6');
  </script>

	<script src="{{ "js/medium-zoom.min.js" | absURL }}"></script>
	<script>
		mediumZoom('article .content img', {
			background: 'var(--image-zoom-overlay-bg)'
		})
	</script>


	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{{- end -}}

