<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ block "title" . }}{{ if .Title }}{{ .Title }} |
  {{ end }}{{ .Site.Title }}{{ end }}
</title>

{{ if hugo.IsProduction | or (eq .Site.Params.env "production") }}
<meta name="robots" content="all">
{{ else }}
<meta name=" robots" content="noindex, nofollow">
{{ end }}

<!-- Title -->
<meta
  name="keywords"
  content="{{ if .Params.keywords -}}
    {{- range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- else }}
    {{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{- end -}}"
/>
<meta
  name="description"
  content="{{- with .Description }}{{ . }}{{- else -}}{{- if .IsPage -}}
    {{- .Summary | default (printf "%s - %s" .Title  .Site.Title) }}{{- else -}}
    {{- with .Site.Params.description }}{{ . }}{{- end }}{{- end }}{{- end -}}"
/>

<!-- Preload-->
{{- $cssOptions := (dict "outputStyle" "compressed")  -}}
{{- if not hugo.IsProduction -}}
	{{- $cssOptions = merge $cssOptions (dict "enableSourceMap" true) -}}
{{- end -}}
{{- $normalizeStyles := resources.Get "scss/normalize.scss" | toCSS (merge (dict "targetPath" "normalize.css") $cssOptions) -}}
<link rel="preload" href="{{ $normalizeStyles.Permalink }}" as="style" />
{{- $fontStyles := resources.Get "scss/font.scss" | toCSS (merge (dict "targetPath" "font.css") $cssOptions) -}}
<link rel="preload" href="{{ $fontStyles.Permalink }}" as="style" />
{{- $styles := resources.Get "scss/index.scss" | toCSS (merge (dict "targetPath" "style.css") $cssOptions) -}}
<link rel="preload" href="{{ $styles.Permalink }}" as="style" />

{{- if .Params.canonicalURL -}}
<link
  rel="canonical"
  href="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}"
/>
{{ end }}
<!-- Favicon -->
<link
  rel="icon"
  href="{{- .Site.Params.assets.favicon | default "favicon.ico" | absURL -}}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="
    {{- .Site.Params.assets.favicon16x16 | default "favicon-16x16.png" | absURL -}}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="
    {{- .Site.Params.assets.favicon32x32 | default "favicon-32x32.png" | absURL -}}"
/>
<link
  rel="apple-touch-icon"
  href="
    {{- .Site.Params.assets.apple_touch_icon | default "apple-touch-icon.png" | absURL -}}"
/>
<link
  rel="mask-icon"
  href="{{- .Site.Params.assets.safari_pinned_tab | default "safari-pinned-tab.svg" | absURL -}}"
/>
<!-- theme -->
<meta name="theme-color" content="#222" />
<meta name="msapplication-TileColor" content="#222" />
{{- if .Site.Params.analytics.google.SiteVerificationTag }}
  <meta
    name="google-site-verification"
    content="{{ .Site.Params.analytics.google.SiteVerificationTag }}"
  />
{{- end }}

<!-- Meta-->
<meta property="og:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- $cover := .Site.Params.default_cover | absURL  -}}
{{- if .IsPage -}}
	{{- if not (eq .Params.NoCover true) -}}		
		{{- with .Resources.GetMatch "cover.*" -}}
			{{- $cover = .Permalink -}}
		{{- end -}}
	{{- else if .Params.Cover -}}
		{{- $cover = .Params.Cover -}}	
	{{- end -}}
{{- else -}}
{{- end -}}
<meta property="og:image" content="{{ $cover }}" />
			
<meta content='{{ .Site.BaseURL }}' name='twitter:domain' />
<meta content='{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}' name='twitter:title' />
<meta content='summary_large_image' name='twitter:card' />

{{ if .Site.Params.Social.Facebook }}
<meta content='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}' property='article:author' />
<meta content='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}' property='article:publisher' />
{{ end }}

{{ if .Site.Params.Social.Twitter }}
<meta content='@{{ .Site.Params.Social.Twitter }}' name='twitter:creator' />
{{ end }}
<meta content='{{ .Site.Title }}' name='twitter:site' />

<!-- Facebook-->
{{ if .Site.Params.ThirdParty.Facebook.AppID }}
<meta content='{{ .Site.Params.ThirdParty.Facebook.AppID }}' property='fb:app_id'/> 
{{ end }}

<!-- Styles-->
<link rel="stylesheet" href="{{ $normalizeStyles.Permalink }}" as="style" />
<link rel="stylesheet" href="{{ $fontStyles.Permalink }}" as="style" />
<link rel="stylesheet" href="{{ $styles.Permalink }}" as="style" />

<!-- RSS-->
{{- range .AlternativeOutputFormats -}}
  <link
    rel="{{ .Rel }}"
    type="{{ .MediaType.Type }}"
    href="{{ .Permalink | safeURL }}"
  />
{{ end -}}
{{- range .Translations -}}
  <link rel="alternate" hreflang="{{- .Lang -}}" href="{{- .Permalink -}}" />
{{ end }}

<!-- Generator -->
{{- hugo.Generator }}
