<article class="post-card">
  <header>
    {{ with .Resources }}
      {{ with .GetMatch "cover.*" }}
        {{ $cover := . }}
        {{ with $cover.Fill "288x144 center" }}
          <figure>
            <img src="{{ .Permalink }}" alt="{{ .Title }}" />
          </figure>
        {{ end }}
      {{ end }}
    {{ end }}
    <h2 class="title">{{ .Title }}</h2>
  </header>
  {{ if .IsPage }}
    <p>
      <time datetime="{{ dateFormat "2006-01-02" .Date }}">
        {{ dateFormat "January 02, 2006" .Date }}
      </time>
      &bull; {{ .ReadingTime }} min
    </p>
  {{ end }}
  <a href="{{ .Permalink }}"></a>
</article>
