<a  class="post-card" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <article>
		{{ if not (eq .Params.NoCover true) }}		
			{{ with .Resources.GetMatch "cover.*" }}
				{{ $cover := . }}
				{{ with $cover.Fill "288x144 center" }}
					<figure>
						<img src="{{ .Permalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
					</figure>
			{{ end }}
			{{ else }}
					{{ if .Params.Cover }}
						<figure>
							<img src="{{ .Params.Cover }}" alt="{{ .Title }}" width="288" height="144" />
						</figure>
					{{ else if .Site.Params.DynamicOgEndpoint }}
						<figure>
							<img src="{{ .Site.Params.DynamicOgEndpoint }}?title={{ .Title }}&name=nitpum&logo=https%3A%2F%2Fassets.nitpum.com%2Fimg%2Ficon%2Fnitpum%2F310x310.png&width=288&height=144" alt="{{ .Title }}" width="288" height="144" />
						</figure>
					{{ else }}
						<figure>
							<svg width="288" height="144" viewBox="0 0 288 144" fill="var(--fg)">
								<rect width="288" height="144" />
							</svg>
						</figure>
					{{ end}}
			{{ end }}
		{{ end}}
    {{ if .IsPage }}
      <p>
        <time datetime="{{ dateFormat "2006-01-02" .Date }}">
          {{ dateFormat "January 02, 2006" .Date }}
        </time>
        &bull; {{ .ReadingTime }} min
      </p>
    {{ end }}
		<h2 class="title">{{ .Title }}</h2>
  </article>
</a>
