<a  class="post-card" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <article>
		{{- $cover := "" -}}
		{{- $coverWidth := "288" -}}
		{{- $coverHeight := "144" -}}
		{{- if not (eq .Params.NoCover true) -}}

			{{- with .Resources.GetMatch "cover.*" -}}
				{{- $cover = . -}}
				{{- with $cover.Fill "288x144 center" -}}
					{{- $cover = .Permalink -}}
				{{- end -}}
			{{- end -}}
			{{- else if .Params.Cover -}}
				{{- $cover = .Params.Cover -}}
		{{- end -}}

		{{- if eq $cover "" -}}
			<figure>
				<svg width="{{ $coverWidth }}" height="{{ $coverHeight }}" viewBox="0 0 {{ $coverWidth }} {{ $coverHeight }}" fill="var(--fg)">
					<rect width="{{ $coverWidth }}" height="{{ $coverHeight }}" />
					<text x="20" y="40" fill="var(--content)" class="font-heading" style="font-size: 20px">{{ .Title }}</text>
				</svg>
			</figure>
		{{- else -}}
			<figure>
				<img src="{{ $cover }}" alt="{{ .Title }}" width="{{ $coverWidth }}" height="{{ $coverHeight }}" loading="lazy" />
			</figure>
		{{- end -}}

		<div class="flex flex-column-reverse">
			<h2 class="title">{{ .Title }}</h2>
			{{ if .IsPage }}
      <p>
				<time datetime="{{ dateFormat "2006-01-02" .Date }}">
					{{ dateFormat "January 02, 2006" .Date }}
        </time>
        &bull; {{ .ReadingTime }} min
      </p>
			{{ end }}
		</div>
  </article>
</a>
