{{- /*  theme-toggle is enabled  */}}
{{- if (not .Site.Params.disableThemeToggle) }}
  {{- /*  theme is light  */}}
  {{- if (eq .Site.Params.defaultTheme "light") }}
    <script>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add("dark");
      }
    </script>
    {{- /*  theme is dark  */}}
    {{- else if (eq .Site.Params.defaultTheme "dark") }}
    <script>
      if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove("dark");
      }
    </script>
    {{- else }}
    {{- /*  theme is auto  */}}
    <script>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add("dark");
      } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove("dark");
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.body.classList.add("dark");
      }
    </script>
  {{- end }}
  {{- /*  theme-toggle is disabled and theme is auto  */}}
  {{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark")) }}
  <script>
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.classList.add("dark");
    }
  </script>
{{- end }}

<nav class="navbar" role="navigation">
  <div class="content">
    <div class="brand">
      <a href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.Logo }}
          <img
            src="{{ .Site.Params.Logo.Permalink }}"
            width="{{ .Site.Params.Logo.Width | default 48 }}"
            height="{{ .Site.Params.Logo.Height | default 48 }}"
            alt="logo"
            aria-label="logo"
          />
        {{ end }}
        {{ if .Site.Title }}
          <div class="title">
            {{ .Site.Title }}
          </div>
        {{ end }}
      </a>
    </div>
    <ul class="menu">
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">
            {{ if .Pre }}
              {{ partial (string .Pre) }}
            {{ end }}
            {{ .Name }}
          </a>
        </li>
      {{ end }}
      <li>
        <a href="#" class="p-0">
          {{ partial "theme_toggle.html" . }}
        </a>
      </li>
    </ul>
  </div>
</nav>
