{{- $imgPath := .Destination | safeURL -}}

{{- if not (strings.HasPrefix .Destination "http") -}}
  {{ $imgPath = (.Destination | safeURL )}}
{{- end -}}

{{- if not (strings.HasPrefix .Destination "/") -}}
	{{  $imgPath = (printf "%s%s" .Page.Permalink .Destination | safeURL ) }}
{{- end -}}

<img
  src="{{ $imgPath }}"
  alt="{{ .Text }}"
  loading="lazy"
  {{ if not (strings.HasPrefix .Destination "http") -}}
  {{ $img := imageConfig (printf "content/%s/%s" .Page.File.Dir .Destination) }}
  width="{{ $img.Width }}"
  height="{{ $img.Height }}"
  {{ end }}
/>