.pagination {
	display: flex;
	margin: auto;
	width: fit-content;
	max-width: var(--content-width);
	list-style: none;
	padding: 0;
	margin-top: 16px;

	li {
		padding: 0;
		margin: 0 4px;

		&.active {
			a {
				color: var(--primary);

				&::before {
					transform: scale(1);
				}
			}
		}

		a {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			text-decoration: none;
			color: var(--content);
			
			&:hover,
			&focus {

				&::before {
					transform: scale(1);
				}
			}

			&::before {
				position: absolute;
				display: block;
				z-index: -1;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--fg);
				border-radius: var(--radius);
				transform: scale(0);
				transition: transform var(--transform-time);
			}
		}
	}
}
