.theme-toggle {
  margin-left: 4px;

  svg {
    height: 18px;
    user-select: none;
    cursor: pointer;
  }
}

body {
  &.dark {
    .theme-toggle {
      .moon {
        vertical-align: middle;
        display: none;
      }
    }
  }

  &:not(.dark) {
    .theme-toggle {
      .sun {
        display: none;
      }
    }
  }
}