.theme-toggle {
  margin-left: 4px;
  background-color: transparent;
  border: 0 transparent;
  color: var(--content);
  cursor: pointer;
  width: 48px;
  height: 100%;

  svg {
    height: 18px;
    user-select: none;
  }
}

body {
  &.dark {
    .theme-toggle {
      .moon {
        vertical-align: middle;
        display: none;
      }
    }
  }

  &:not(.dark) {
    .theme-toggle {
      .sun {
        display: none;
      }
    }
  }
}