.tags {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    display: block;
    
    a {
      display: block;
      padding: 4px 18px;
      border-radius: 20px;
      background-color: var(--fg);
			border: var(--border-size) solid var(--border-color);
      margin-right: 8px;
      margin-bottom: 8px;
      text-decoration: none;
      color: var(--content);
    }
  }
}
