@import "variables";

.post-single {
  margin: auto;
  width: 100%;
  max-width: $article_width;
  padding-bottom: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $typo-heading;
  }

  header {
    
    figure {
      margin: 0;

      img {
        height: auto;
      }
    }

    @include for-desktop-up {
			svg,
      img {
        border-radius: var(--radius);
      }
    }
  }

  figure {
    margin: 0;
  }

  img {
    margin: auto;
    height: auto;
    max-width: 100%;
		border: var(--border-size) solid var(--border-color);
		
		
    @include for-desktop-up {
			border-radius: var(--radius);
    }
  }
	
  video {
		border: var(--border-size) solid var(--border-color);
		
    @include for-desktop-up {
      border-radius: var(--radius);
    }
  }

  .heading {
    margin: auto;
    width: 100%;
    padding-left: $article_side_padding;
    padding-right: $article_side_padding;
    box-sizing: border-box;
    max-width: $article_body_width;
    margin-bottom: 28px;

    h1 {
      margin-top: 0.67em;
    }
  }

  .content {
    margin: auto;
    width: 100%;
    padding-left: $article_side_padding;
    padding-right: $article_side_padding;
    box-sizing: border-box;
    max-width: $article_body_width;
    word-wrap: break-word;

    img {
      filter: var(--image-filter);
    }
  }

}

.comment {
	margin: auto;
	width: 100%;
	max-width: var(--content-width);
}